# Google Sheets API — dapatkan dari console.cloud.google.com
VITE_SHEETS_API_KEY=AIzaSyDc1a6m-g2xbycl7ONbx7-dqw2sI-Bl1vs
VITE_SPREADSHEET_ID=1_WPukIGkGTy2YvomxlsLqh4cVSC7gLPYoV1bMh3JrXo
VITE_OAUTH_CLIENT_ID=754458850006-ik2n5l6adhkp8t4km69jkmj1nr43sbcc.apps.googleusercontent.com
